/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 1060px) {
  .timeline ul li:nth-child(even) div {
    left: 12px;
    /*250+45-6*/
  }
  .timeline ul li:nth-child(odd) div {
    left: -240px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 990px) {
  .pricing .card h3 {
    font-size: 50px;
  }
  .pricing .card h3 .currency {
    font-size: 25px;
    top: -22px;
  }

  .timeline ul li {
    width: 100%;
    background: white;
  }

  .timeline ul li div {
    width: 300px;
    float: none;
    display: block;
    margin: 0 auto;
  }

  .timeline ul li div .content {
    padding: 10px;
    background-color: #005299;
    color: white;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .timeline ul li div .content h2 {
    color: white;
  }

  .timeline ul li.in-view::after {
    background: white;
  }

  .timeline ul li:nth-child(odd) div,
  .timeline ul li:nth-child(even) div {
    left: 0;

    /*250+45-6*/
  }

  .timeline iframe {
    width: 100%;
  }
}

@media screen and (max-width: 765px) {
  .footer-links {
    margin-bottom: 30px;
  }
  .pricing .card h3 {
    font-size: 40px;
  }
  .pricing .card h3 .currency {
    font-size: 20px;
    top: -16px;
  }
  .specs {
    margin-top: 40px;
  }
  .specs .card .card-header h3.title {
    padding-right: 0;
  }
}

@media screen and (max-width: 660px) {
  .count-particles {
    margin: 0;
    margin-top: 90px;
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}

@media screen and (max-width: 570px) {
  #ispbrain .functions .ul-check li {
    font-size: 16px;
    font-weight: 300;
  }
  .contact .content-rs {
    display: inline-flex;
  }
  .timeline ul li {
    margin-left: 0;
  }

  .timeline ul li:nth-child(odd) div {
    transform: translate3d(10px, 0, 0);
  }

  .timeline ul li:nth-child(even) div {
    transform: translate3d(-10px, 0, 0);
    left: 0;
  }
}