@media (max-width: 570px) {
    #ispbrain .functions .ul-check li {
        font-size: 16px;
        font-weight: 300;
      }
}

@media (max-width: 765px) {
  .footer-links {
    margin-bottom: 30px;
  }  
}

@media (max-width: 660px) {
  .count-particles {
    margin: 0;
    margin-top: 90px;
    font-size: 25px;
  }
}