/******************************
----------------------------------

[FIJOS]

1.0 - General
  1.1 - Title
  1.2 - Button

----------------------------------

[ENLACE INDEX]

1.0 - TopBar
2.0 - Header
3.0 - Navigation Menu
  3.1 - Desktop Navigation
  3.2 - Mobile Navigation
4.0 - Carousel
5.0 - Services
6.0 - Cut
7.0 - ISPbrain

----------------------------------

[ENLACE SOLUCIONES DE RED]

----------------------------------

[SISTEMA DE GESTIÓN]


******************************/

/* ------------------------------
|General
------------------------------ */

body {
  color: #666666 !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 1.8 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #282c47;
  margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

p {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

a {
  color: #222222;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  text-decoration: none;
  outline: none !important;
  transition: all 0.4s;
}

ul,li {
  list-style: none;
}

/* Title */

/*
.title-style::after {
  background-color: #035492;
  border-radius: 100px;
  content: '';
  height: 7px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0px;
  width: 60px;
}

*/

h2.title-style {
  font-size: 34px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

h3.title-style {
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

/* Button */

.type-1 a {
  text-decoration: none;
  border-radius: 30px;
  padding: 12px 53px 12px 23px;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  transition: all 0.3s;
}

.type-1 a span {
  position: relative;
  z-index: 3;
}

.type-1 a .round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 6px;
  top: 3px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}

.type-1 a .round span {
  position: absolute;
  font-size: 25px;
  top: 8%;
  margin-top: -6px;
  left: 20%;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.type-1 .txt {
  font-size: 14px;
  line-height: 1.45;
}

.type-1 a:hover {
  padding-left: 48px;
  padding-right: 28px;
}

.type-1 a:hover .round {
  width: calc(100% - 9px);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.type-1 a:hover .round span {
  left: 12%;
}

/* ------------------------------
|TopBar
------------------------------ */
#topbar {
  background: #035492;
  padding: 10px 0;
  font-size: 14px;
}

#topbar .contact-info {
  color: #fff;
}

#topbar .contact-info a {
  color: #fff;
  transition: 0.3s;
}

#topbar .contact-info span {
  padding: 4px;
}

#topbar .contact-info .icon-phone {
  padding-left: 20px;
}

#topbar .links span {
  color: #ffffff;
  margin-left: 20px;
  padding: 4px;
}

#topbar .links a {
  color: #fff;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

/*--------------------------------------------------------------
|Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
|Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  padding: 13px 0 15px 25px;
  font-size: 14px;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #035492;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 20px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #035492;
}

.nav-menu .drop-down > a:after {
  content: "\e313";
  font-family: Icomoon;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\e314";
  font-family: Icomoon;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\e314";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle span {
  color: #035492;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  padding: 10px 20px;
  font-weight: 400;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #035492;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\e313";
  font-family: Icomoon;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\e316";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(59, 59, 59, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle span {
  color: #fff;
}

/*--------------------------------------------------------------
|Carousel
--------------------------------------------------------------*/
#carousel {
  width: 100%;
  height: 70vh;
  background-color: rgba(59, 59, 59, 0.8);
  overflow: hidden;
  padding: 0;
  margin-bottom: -120px;
  position: relative;
  z-index: 1;
}

#carousel .carousel-item {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center center;
}

#carousel .carousel-item::before {
  content: '';
  background-color: rgba(3, 84, 146, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#carousel .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 120px;
}

#carousel .carousel-content {
  text-align: center;
}

#carousel h2 {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#carousel p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #ffffff;
}

#carousel .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#carousel .carousel-inner .carousel-item,
#carousel .carousel-inner .active.carousel-item-left,
#carousel .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#carousel .carousel-inner .active,
#carousel .carousel-inner .carousel-item-next.carousel-item-left,
#carousel .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#carousel .carousel-inner .carousel-item-next,
#carousel .carousel-inner .carousel-item-prev,
#carousel .carousel-inner .active.carousel-item-left,
#carousel .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#carousel .carousel-control-prev, #carousel .carousel-control-next {
  width: 10%;
}

#carousel .carousel-control-next-icon, #carousel .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
  color: #ffffff;
}

#carousel .carousel-indicators li {
  cursor: pointer;
  background: #035492;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin-bottom: 180px;
  opacity: .2;
}

#carousel .carousel-indicators li.active {
  opacity: 1;
}

#carousel .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #035492;
  background: #035492;
}

#carousel .btn-get-started:hover {
  background: #ffffff;
  color: #035492;
  text-decoration: none;
}

@media (max-height: 768px), (max-width: 1200px) {
  #carousel {
    margin-bottom: 60px;
  }
  #carousel .carousel-container {
    padding-bottom: 0;
  }
  #carousel .carousel-indicators li {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  #carousel {
    height: 90vh;
  }
  #carousel .carousel-item {
    height: 90vh;
  }
}

@media (min-width: 1024px) {
  #carousel p {
    width: 70%;
  }
  #carousel .carousel-control-prev, #carousel .carousel-control-next {
    width: 5%;
  }
}

/* ------------------------------
|Services
------------------------------ */

#services .isp-soporte .btn-1 {
  background-color: #368475;
}

#services .isp-soporte .btn-1 .round {
  background-color: #6bbdac;
}

#services .isp-brain .btn-1,
#ispbrain .btn-1,
#demo .btn-1 {
  background-color: #E45549;
}

#services .isp-brain .btn-1 .round,
#ispbrain .btn-1 .round,
#demo .btn-1 .round  {
  background-color: #e7867d;
}

/* ------------------------------
|Cut
------------------------------ */

.cut {
  background-color: #035492;
  background-image: url(../image/index/barra.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cut h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
}

/* ------------------------------
|ISPbrain
------------------------------ */
#ispbrain .functions .ul-check li {
  font-size: 20px;
  font-weight: 300;
  position: relative;
}

#ispbrain .functions .ul-check li::before {
  content: "\e5ca";
  color: #E45549;
  font-size: 22px;
  font-family: "icomoon";
  left: -30px;
  position: absolute;
  top: -2px;
}

/* ------------------------------
|Demo
------------------------------ */

#demo {
  background-image: url(../image/index/demo.jpg);
  background-size: cover;
}

#demo .content {
  padding: 50px 0;
}

#demo h3 {
  color: #ffffff;
}

/* ------------------------------
|Counters
------------------------------ */

.counters img {
	width: 70px;
}

.counters span {
  color: #0b274d;
  font-size: 40px;
  font-weight: 500;
}

.counters h3 {
  font-size: 20px;
  font-weight: 300;
}

/* ------------------------------
|Modalities
------------------------------ */

#modality {
  padding: 30px 0;
}

#modality .card {
  border: 0;
  padding: 0 30px;
  margin-bottom: 60px;
  position: relative;
  background: transparent;
}

#modality .card-img {
  width: calc(100% + 60px);
  margin-left: -30px;
  overflow: hidden;
  z-index: 9;
  border-radius: 0;
}

#modality .card-img img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

#modality .card-body {
  z-index: 10;
  background: #fff;
  border-top: 4px solid #fff;
  padding: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-top: -60px;
  transition: 0.3s;
}

#modality .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

#modality .card-title a {
  color: #213b52;
  transition: 0.3s;
}

#modality .card-text {
  color: #5e5e5e;
}

#modality .read-more span {
  margin-right: 10px;
  font-size: 12px;
}

#modality .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s;
}

#modality .read-more a:hover {
  color: #368475;
}

#modality .card:hover img {
  transform: scale(1.1);
}

#modality .card:hover .card-body {
  border-color: #368475;
}

#modality .card:hover .card-body .card-title {
  color: #368475;
}

/* ------------------------------
|Footer
------------------------------ */

#footer .footer-top {
  background: #035492;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer p {
  font-size: 13px;
  font-weight: 300;
}

#footer .footer-info span {
  font-size: 18px;
  margin-right: 10px;
}

#footer .footer-info a {
  color: #ffffff;
  font-size: 19px;
  font-weight: 500s;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #9eccf4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  font-weight: 300;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #9eccf4;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 0 10px;
  position: relative;
  border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 2px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 14px;
  padding: 0 10px;
  background: #428bca;
  color: #fff;
  transition: 0.3s;
  border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #5295ce;
}

#footer .copyright,
#footer .icon-social a,
#footer .icon-social span {
  color: #ffffff;
}

#footer .icon-social a {
  margin-right: 15px;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 2px;
  margin: 0 auto;
  padding-top: 50px;
  background: #ccc;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
}

.timeline ul li:nth-child(odd) div {
  left: -300px;
}

.timeline ul li:nth-child(even) div {
  left: 25px;
}

.content {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #001C4B;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}